form > div { 
    margin: 8px 0; 
}
span#dobMsg { 
    color: gray; 
}
label { 
    display: inline-block; 
    width: 100px; 
    text-align: right; 
}
input[type=submit] { 
    margin-left: 105px; 
}